body {
  background-color: #202024;
}

.content {
  height: 100vh;
  margin: 2rem auto;
  max-width: 800px;
  color: #e1e1e6;
}

main {
  padding: 0 1rem;
  background-color: #29292e;
  width: 800px;
  min-height: 80vh;
  border: 2px solid #6833e4;
}

li {
  border: 2px solid #48435c;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

li:hover {
  border: 2px solid #9466ff;
}

.ok {
  background-color: #04d361;
  color: #e1e1e6;
}

.remove {
  background-color: #ce4a4a;
  color: #e1e1e6;
}
